.doriana{
    margin-bottom: 1000;
    width: 25px;
    height: 250px;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
}
.seila{
    margin-top: 10;
    width: 25px;
    height: 250px;
}
.wow{
    border-radius: 6px;
    width: 1200px;
    height: 600px;
}
.tableContainer{
    background-color: #5a5e5d;
    border-radius: 10px;
    height: 550px;
    padding: 0px 10px 10px 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}

thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}