<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <link rel='stylesheet' href='/stylesheets/style3.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <div class="tbl-header">
      <table class="table table-bordered table-striped">
        <thead><tr>
          <th>
            <a href="funcionarios">funcionarios</a>
          </th>
          <th>
            <a href="clientes">clientes</a>
          </th>
          <th>
            <a href="salas">salas</a>
          </th>
          <th>
            <a href="gunships">gunships</a>
          </th>
        </tr>
        </thead>
      </table>
    </div>

        <p>Welcome to <%= title %></p>
  </body>
</html>
